# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
*.war
*.ear
*.nar

# Maven target directory
/target/

# Cucumber reports
cucumberReport.json
cucumberReport.html

# IntelliJ IDEA files
/.idea/
/*.iml

# Eclipse files
/.project
/.classpath
/.settings/

# NetBeans files
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code files
/.vscode/

# MacOS files
.DS_Store

# Windows files
Thumbs.db